div.a {
  text-align: center;
  font-family: "Verdana";
  background-color:#003B70;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 